<div
	class="group h-fit flex flex-col gap-4 p-6 bg-white rounded-3xl shadow-xl border-[1px] border-solid border-slate-200"
>
	<div class="flex flex-row justify-between items-center gap-2 mx-5">
		<textarea
			rows="1"
			type="text"
			[(ngModel)]="title"
			(input)="onInputChange($event)"
			(blur)="deleteSpace();"
			value="title"
			placeholder="New group..."
			class="title w-full font-bold text-[#aaaaaac9] text-2xl border-x-0 border-t-0 rounded-none !outline-0 focus:!outline-0 hover:bg-transparent border-b-[2px] placeholder:text-[#aaaaaac9] focus:shadow-none"
			pInputTextarea
			[autoResize]="true"
		></textarea>
		<!-- <input
			type="text"
			[(ngModel)]="title"
			(input)="onInputChange($event)"
			value="title"
			placeholder="New group..."
			class="title w-full font-bold text-slate-700 text-2xl border-b-[2px] mx-5 pb-1 focus:outline-none placeholder:text-[#aaaaaac9]"
		/> -->
		<h1>{{ todoGroup.title }}</h1>
		<!-- <div
			(click)="deleteGroup($event)"
			class="bg-slate-400 p-2 cursor-pointer"
		>
			delete
		</div> -->
		<button
			(click)="deleteGroup($event)"
			class="border-0 min-w-[28px] h-[28px] hover:scale-110 transition-all hover:shadow-gray-300 rounded-xl shadow-md"
		>
			<img
				(click)="deleteGroup($event)"
				class="w-[28px] h-[28px] rounded-xl "
				src="../../../assets/icons/delete.svg"
				alt="delete"
			/>
		</button>
	</div>
	<!-- <h2 class="font-bold text-[#aaaaaac9] text-2xl border-b-[2px] mx-5 pb-1">
		{{ todoGroup.title }}
	</h2> -->

	<div class="group-items flex flex-col gap-4 w-full">
		<ng-container *ngFor="let item of todoGroup.items; let i = index">
			<ng-container [ngSwitch]="item.status">
				<app-item-not-started
					(deleteItemHandler)="deleteItem($event)"
					[todoItem]="item"
					[index]="i"
					*ngSwitchCase="'Not started'"
				></app-item-not-started>
				<app-item-in-progress
					(deleteItemHandler)="deleteItem($event)"
					[todoItem]="item"
					[index]="i"
					*ngSwitchCase="'In progress'"
				></app-item-in-progress>
				<app-item-completed
					(deleteItemHandler)="deleteItem($event)"
					[todoItem]="item"
					[index]="i"
					*ngSwitchCase="'Completed'"
				></app-item-completed>
				<div *ngSwitchDefault>item</div>
			</ng-container>
		</ng-container>

		<div
			*ngIf="title !== undefined && title.trim() !== ''"
			class="addItem flex flex-row gap-4 items-start justify-center  mx-5"
		>
		<!-- *ngIf="newItemTitle !== undefined && newItemTitle.trim() !== ''" -->
			<p-dropdown
				[options]="itemStatus"
				[(ngModel)]="selectedItemStatus"
				optionLabel="status"
				[showClear]="true"
				
			>
				<ng-template pTemplate="selectedItem">
					<img
						[src]="selectedItemStatus.status"
						class="min-w-[25px] h-[25px]"
						alt="status"
					/>
				</ng-template>
				<ng-template let-itemStatus pTemplate="item">
					<img
						[src]="itemStatus.status"
						class="w-[25px] h-[25px]"
						alt="status"
					/>
				</ng-template>
			</p-dropdown>
			<!-- (blur)="addNewItem()" -->
			<textarea
				rows="1"
				type="text"
				[(ngModel)]="newItemTitle"
				(input)="newTitle($event)"
				(keyup.enter)="addNewItem();"
				placeholder="New item..."
				[ngClass]="{
					'py-[7px]': !newItemEvent && newItemTitle !== ''
				}"
				class="title w-auto flex flex-1 resize-none font-bold text-slate-800 text-xl border-b-[2px] focus:outline-none placeholder:text-[#aaaaaac9] placeholder:text-xl transition-all focus:shadow-none"
				pInputTextarea
				[autoResize]="true"
			></textarea>
			<!-- *ngIf="newItemTitle !== undefined && newItemTitle.trim() !== ''" -->
			<button
				(click)="addNewItem()"
				class="py-1 w-0 border-0 min-w-[25px] h-[25px] hover:scale-110 transition-all hover:shadow-gray-400 rounded-xl shadow-lg"
			>
			<!-- src="../../../assets/icons/in-progress.svg" -->
				<img
					class="min-w-[25px] h-[25px]"
					[src]="selectedItemStatus.check"
					alt="create"
				/>
			</button>
		</div>
	</div>
</div>
